<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>nitinPersonalPractice.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBooks</servlet-name>
        <servlet-class>servlets.IssueBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfterIssueBook</servlet-name>
        <servlet-class>servlets.AfterIssueBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Home</servlet-name>
        <servlet-class>servlets.Admin_Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBooks</servlet-name>
        <url-pattern>/IssueBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfterIssueBook</servlet-name>
        <url-pattern>/AfterIssueBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Home</servlet-name>
        <url-pattern>/Admin_Home</url-pattern>
    </servlet-mapping>
    

</web-app>
