<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>nitinPersonalPractice.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issueBook</servlet-name>
        <servlet-class>issuebooks.issueBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issueBook</servlet-name>
        <url-pattern>/issuezBook</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name> AddBook</servlet-name>
        <servlet-class> servlets.AddBook</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name> AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    

</web-app>
